.container {
    display:flex;
    position: absolute;
    bottom: 5px;
    right:10px;
}

.smallMapImage {
    position:relative;
}

.smallMap {
    overflow:hidden;
    display:block;
    width:200px;
    height:200px;
    z-index:0;
    border: 1px solid black;
    background-color:white;
}

.smallMapStyle{
    top:0px;
    left:0px;
    position:absolute;
    border:2px solid red;
    background-image: url("./bg.png");
    background-repeat:repeat;
    z-index:1;
}
/*
.smallMapRange0{
    width:80px;
    height:40px;
}

.smallMapRange1{

    width:96px;
    height:48px;
}

.smallMapRange2{

    width:116px;
    height:58px;
}

.smallMapRange3{

    width:138px;
    height:68px;
}

.smallMapRange4{

    width:165px;
    height:82px;
}
*/
.buttonImage {  
    display:block;
    width: 24px;
    height: 24px;
    z-index:2;
    position:absolute;
    right:0px;
    bottom:0px
}

.buttonImageMobile {
    display:None;
}

